
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" >
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Pradeeps Vagrant Local SetUp</title>

	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Pradeeps LAMP Local SetUp</h1>

	<ul>
		
		<a> Add an user by clicking create button here --> </a>
		    <a href="create.php" style="text-decoration:none">
                 <button  label="click" name="click">CREATE</button><br>
        </a>
        <a> List all Users by clicking List button here --> </a>
		    <a href="list.php" style="text-decoration:none">
                 <button  label="click" name="click">LIST</button><br>
        </a>
        </a>
        <a> phpinfo page button here --> </a>
		    <a href="phpinfo.php" style="text-decoration:none">
                 <button  label="click" name="click">Info</button>
        </a>
	</ul>

</body>
</html>

