<!doctype html>
<html lang="en">

<head>

<title>Pradeeps Vagrant Local SetUp</title>

</head>

<p>
<a href="index.php">Main</a>
</p>
Apache Installation is Succesful and Listening on port 8001

</html>